@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "__geist_sans";
  --font-geist-mono: "__geist_mono";
}

::selection {
  background-color: #18181b;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
